extends layout

include _includes/sharedHTMLfunctions

block content
  .row.banner
    .col-12
      h1= duck.name+ "'s Profile"
  .row
    .col-12.col-lg-9
      .row
        .col-12.col-md-6
         
          .card.card-primary
            .card-block
              h2.card-title Name
                h1= duck.name

          .card.card-primary
            .card-block
              h2.card-title Features
              each feature in duck.features
                span.badge.badge-warning
                  i.fa.fa-check
                  | &nbsp;#{feature}
                | &nbsp;

          .card.card-primary
            .card-block
              h2.card-title Past-Times
              each hobby in duck.hobbies
                span.badge.badge-warning
                  i.fa.fa-check
                  | &nbsp;#{hobby}
                | &nbsp;

                
        .col-12.col-md-6.location-map
          .card.card-primary
            .card-block
              img(src=`/images/duck.jpg`, alt=duck.name)
