extends layout

include _includes/sharedHTMLfunctions

block content
  .row.banner
    .col-12
      h1= pageHeader.title
  .row
    .col-12.col-lg-9
      .row
        .col-12.col-md-6
         
          .card.card-primary
            .card-block
             h2.card-title Rating
             
             
             
          .card.card-primary
            .card-block
              h2.card-title Features
              each feature in location.features
                span.badge.badge-warning
                  i.fa.fa-check
                  | &nbsp;#{feature}
                | &nbsp;
        .col-12.col-md-6.location-map
          .card.card-primary
            .card-block
      .row
        .col-12
          .card.card-primary.review-card
            .card-block
              a.btn.btn-primary.float-right(href='/ducks/review/new') Add review
              h2.card-title Customer reviews
              each review in location.reviews
                .row.review
                  .col-12.no-gutters.review-header
                    .rating
                   
                    span.reviewAuthor #{review.author}
                    small.reviewTimestamp #{review.timestamp}
                  .col-12
                    p !{(review.reviewText).replace(/\n/g, '<br/>')}
    .col-12.col-lg-3
    
      p= sidebar.callToAction
